.navigation ul,
.navigation ul li,
.navigation ul li a {
    float: left;
}

.navigation ul li a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease 100ms;
    -webkit-transition: all 300ms ease 100ms;
}

.navigation ul li a.hover {
    border-color: #555;
    /*       box-shadow: 0 5px 30px rgba(0, 0, 0, 1.0) inset;*/
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.4) inset;
    text-decoration:underline;

}

.navigation ul {
    margin-right: 2px;
}

.navigation ul.last {
    margin-right: 0;
}

.navigation ul li {
    margin-bottom: 2px;
}

.navigation ul li.contact,
.navigation ul li.tructhuoc,
.navigation ul li.tintuc,
.navigation ul li.hoatdong {
    margin-bottom: 2px;
}

.navigation ul li.last {
    margin-bottom: 0;
}

.navigation .col1,
.navigation .col1 li,
.navigation .col1 li a {
    width: 128px;
}

.navigation .col1 li.gioithieu {
}

.navigation .col1 li.gioithieu a {
    background-color: #009933;
    background-image:url(../images/ic_gioithieu.jpg)  ;
    /*   background-position: center 15px;*/
    height: 111px;
    padding-top: 90px;
    padding-left: 40px;
}

.navigation .col1 li.gioithieu a.hover    {
  /*  background-position: center 44px;*/
    padding-top: 50px;
    padding-left:40px;
}

.navigation .col1 li.gioithieu a.active    {
   background-color:#0033FF;
}

.navigation .col1 li.trangchu {
}

.navigation .col1 li.trangchu a {
    background-color: #3366CC;
    background-image: url(../images/ic_home.png);

   /* background-position: center 15px;*/
    height:93px;
    padding-top:75px;
    padding-right: 40px;
}

.navigation .col1 li.trangchu a.hover {
 /*   background-position: center 44px;*/
     padding-top: 50px;
     padding-left: 0px;
     padding-right:0px;
}
           

.navigation .col2,
.navigation .col2 li,
.navigation .col2 li a {
    width: 218px;
}

.navigation .col2 li a {
    padding: 0 5px;
}

.navigation .col2 li.tructhuoc {
}

.navigation .col2 li.tructhuoc a {
    background-color: #CC6600;
    background-image: url(../images/ic_tructhuoc.png);
    /*   background-position: center 25px; */
    height: 72px;
    padding-top:10px;
    padding-right: 95px;
    padding-left:5px;
}

.navigation .col2 li.tructhuoc a.hover {
    /*  background-position: center 7px; */
    padding-left: 60px;
    padding-right: 5px;
    padding-top: 40px;
}


.navigation .col2 li.hoatdong {
}

.navigation .col2 li.hoatdong a {
    background-color: #9999FF;
    background-image: url(../images/ic_hoatdong.png);
    /* background-position: 15px 17px;*/
    height: 60px;
    padding-left: 85px;
    padding-top: 40px;
}

.navigation .col2 li.hoatdong a.hover {
    /*   background-position: 100px 17px;*/
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
}

.navigation .col2 li.contact {
    width:108px;
}

.navigation .col2 li.contact a {
    background-color: #669900;
    background-image: url(../images/ic_lienhe.png);
    /* background-position: center 15px;  */
    height: 70px;
    padding-top: 50px;
    width:108px;
}

.navigation .col2 li.contact a.hover {
    /*     background-position: center 44px; */
    padding-top: 30px;
}
.navigation .col2 li.tintuc {
    width:108px;
    margin-right: 2px;
    
}

.navigation .col2 li.tintuc a {
    background-color: #666600;
    background-image: url(../images/ic_tintuc.png);
    /*   background-position: center 15px;  */
    height: 70px;
    padding-top: 50px;
    width:108px;
    /*margin-right:2px;*/
    /*padding-left: 5px;*/
    padding-right:50px;
}

.navigation .col2 li.tintuc a.hover {
    /* background-position: center 44px;  */
    padding-top: 15px;
}
        

.navigation .col3,
.navigation .col3 li,
.navigation .col3 li a {
    width: 175px;
}
.navigation .col3 li.tochuc {

}

.navigation .col3 li.tochuc a {
    background-color: #0f63a3;
    background-image: url(../images/ic_tochuc.png);
    /*  background-position: 15px 15px; */
    height: 78px;
    padding-right: 20px;
    padding-top: 55px;
}

.navigation .col3 li.tochuc a.hover {
    /*     background-position: 100px 26px; */
    padding-left: 2px;
    padding-right: 40px;
    padding-top:30px;
}
        
 .navigation .col3 li.thanhtich {
    margin-right: 2px;
}

.navigation .col3 li.thanhtich a {
    background-color: #FFCC00;
    background-image: url(../images/ic_thanhtich.png);
    /*  background-position: center 50px;*/
    height: 55px;
    padding-top: 21px;
    padding-left: 90px;
}

.navigation .col3 li.thanhtich a.hover {
    /*  background-position: center 20px;*/
    padding-top:30px;
    padding-left: 10px;
    padding-right: 90px;
}


.navigation .col3 li.giavang {
    width:110px;
    margin-right: 2px;
}

.navigation .col3 li.giavang a {
    background-color: #669900;
    background-image: url(images/giavang.jpg);
    /* background-position: center 15px;*/
    height: 110px;
    padding-top: 85px;
    width:110px;
}

.navigation .col3 li.giavang a.hover {
/*    background-position: center 44px;  */
/*       padding-top: 15px;*/
}
.navigation .col3 li.sanxuat {
    margin-right: 2px;
    
}

.navigation .col3 li.sanxuat a {
    background-color: #666600;
    background-image: url(../images/ic_sx-kd.png);
    /* background-position: center 15px;  */
    height: 69px;
    margin-right: 2px;
    padding-right: 20px;
    padding-top: 10px;
}

.navigation .col3 li.sanxuat a.hover {
    /*    background-position: center 44px;*/
    padding-top: 20px;
}
.navigation a{
    font-weight: bold;
}
        
